*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #7DAEB3;

}

body{
    font-family: 'Fira Mono', monospace;
    background-color: #FFF0E5;
}



header img {
    width: 600px;
    height: 600px;

    }

ul{display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;}

a{
    text-decoration: none;
    margin-right: 50px;
    margin-left: 50px;
    padding: 25px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: #FFF0E5;
    border: solid 4px black;
    border-radius: 15px;
    transition: box-shadow 0.5s;
}

li{
        list-style-type: none;
}



a:hover {

    box-shadow: 10px 10px 0 -4px black, 10px 10px black;
}
