.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: white;

}

body{
    font-family: 'Fira Mono', monospace;
}

header img {
    width: 600px;
    height: 600px;

    }